// Normalize
@import 'normalize-scss/sass/normalize';
@include normalize();

// Variables
@import 'variables-extended';

// Mixins
@import 'mixins';

// General
html, body {
  background-color: $yellow;
  font-family: $family-sans-serif;
}

// Layout
html {
  height: 100%;
}

body {
  min-height: 100%;
  z-index: 0;
  font-size: calc(1em + ((1vw + 1vh) / 2));
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  @include for-desktop-down {
    font-size: 2em;
  }
}

a, .link {
  color: black;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  text-decoration-color: $yellow;
  letter-spacing: 3px;

  &:hover {
    color: $yellow;
    text-decoration-color: black;
  }
}

#page-container {
  z-index: 0;
  display: flex;
  flex-direction: column;
}

// Navbar
#navbar {
  transition-property: all;
  transition-duration: 0.3s;

  &.toggle-background {
    background-color: $background-color-dark;
  }

  @include for-desktop-down {
    display: none;
  }

  color: white;
  position: relative;
  z-index: 3;
  width: 100%;
  display: flex;
  position: fixed;

  a {
    flex-grow: 1;
    text-align: center;
    padding: 0.6em 0;
    font-size: 0.8em;
    color: white;
    text-decoration: none;

    &:hover {
      color: $yellow;
    }
  }
}

// Hero
.hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-direction: column;

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/background.jpg");

  @include for-desktop-up {
    flex-direction: row;
    padding: 6em 0;
  }

  @include for-desktop-down {
    padding-top: 2em;
    height: auto;
    text-align: center;
  }

  img {
    height: 15em;

    @include for-desktop-down {
      //max-height: 50vh;
      max-width: 70vw;
      justify-content: space-between;
      margin-right: 0;
      margin-bottom: 2em;
    }

    @include for-desktop-up {
      max-height: 50vh;
    }
  }

  .pop {
    background-color: $yellow;
    color: $black;
    max-width: 10em;
    align-self: center;
    padding: 1em;
    font-size: 1.5em;
    line-height: 1.5;
    border-radius: 0.2em;

    box-shadow: 0 0 0 15px white;

    margin-bottom: 2em;

    @include for-desktop-up {
      margin-left: 1em;
      margin-bottom: 0;
      box-shadow: 15px 15px 0 0 white;
      font-size: 1em;
    }

    b {
      font-weight: 700;
    }
  }
}

// Main container
#content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  min-height: 100vh;
  padding: 0 3em 2em 3em;
  background-color: $background-color-light;

  @include shadow;

  @include for-desktop-up {
    margin: -1em 7% 0 7%;
    border-radius: 0.5em 0.5em 0 0;
  }

  h1 {
    background-color: black;
    color: $yellow;
    position: relative;
    margin: 1em auto;
    padding: 0.2em 0.5em;
    text-align: center;
    font-size: 2.5em;
    display: inline-block;
    border-radius: 0.2em;

    @include shadow;

    &:not(:first-child) {
      margin-top: 3em;
    }
  }
}

// Team
.team-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  font-size: 0.7em;

  .member {
    display: flex;
    flex-flow: row;
    align-items: center;
    max-width: 90%;
    margin-bottom: 5em;

    img {
      width: 60em;

      @include for-desktop-down {
        width: 15em;
      }

      border-radius: 5px;
      @include shadow;
    }

    .details {
      padding: 2em;

      .name {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 0.4em;

        @include for-desktop-down {
          font-size: 3em;
        }
      }

      .role {
        color: lighten(black, 20%);
        margin-bottom: 1.2em;

        @include for-desktop-down {
          font-size: 1.5em;
        }
      }

      .bio {
        font-size: 0.8em;
        line-height: 1.5;

        @include for-desktop-down {
          display: none;
        }
      }
    }
  }
}

.process-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include is-landscape {
    flex-direction: row;
  }

  .step {
    flex-direction: column;
    width: 70%;
    font-size: 1.2em;


    @include is-landscape {
      width: calc(33% - 2em);

      &:not(:last-child) {
        margin-right: 1em;
      }
    }

    p {
      text-align: center;
      margin-top: 0;

      @include is-portrait {
        font-size: 2em;
      }
    }
  }
}

.wall {
  display: flex;
  width: 100%;
  margin: 2em auto 0 auto;

  .brick {
    max-width: 10em;

    @include shadow;
    border-radius: 0.2em
  }
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  a {
    font-size: 2em;
    letter-spacing: 3px;
  }
}

.rates-container {
  table {
    text-align: center;
    line-height: 2;
    width: 100%;
    border-collapse: collapse;

    thead tr {
      border-bottom: 3px solid $yellow;
      color: black;
    }
  }
}

#show-credits {
  font-size: 1.2em;
}

#credits-container {
  display: none;

  z-index: 3;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;

  #credits {
    max-height: 70vh;
    max-width: 70vh;
    line-height: 1.5;
    background-color: $background-color-light;
    border-radius: 0.2em;
    @include shadow;
    padding: 2em;

    #madeby {
      width: 100%;
      text-align: center;
    }
  }
}

body.toggle-credits {
  #credits-container {
    display: flex;
  }
}

// Headers
h1, h2, h3, h4, h5, h6 {
  font-family: $family-sans-serif;
  font-weight: 700;
}
